@model WebApplicationProject.ViewModels.CreateBandArtistViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>BandArtist</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BandArtist.JoinDate" class="control-label"></label>
                <input asp-for="BandArtist.JoinDate" type="date" class="form-control" />
                <span asp-validation-for="BandArtist.JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandArtist.LeaveDate" class="control-label"></label>
                <input asp-for="BandArtist.LeaveDate" type="date" class="form-control" />
                <span asp-validation-for="BandArtist.LeaveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandArtist.RoleID" class="control-label">Role</label>
                <select asp-for="BandArtist.RoleID" class="form-control" asp-items="Model.Roles"></select>
                <span asp-validation-for="BandArtist.RoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandArtist.Artist.FirstName" class="control-label">First Name</label>
                <input asp-for="BandArtist.Artist.FirstName" class="form-control">
                <span asp-validation-for="BandArtist.Artist.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandArtist.Artist.LastName" class="control-label">Last Name</label>
                <input asp-for="BandArtist.Artist.LastName" class="form-control">
                <span asp-validation-for="BandArtist.Artist.LastName" class="text-danger"></span>
            </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-dark" asp-route-id="@Model.Band.BandID" />
            <a class="btn btn-dark" asp-action="Details" asp-controller="Band" asp-route-id="@Model.Band.BandID">Back to Band</a>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
