@model WebApplicationProject.ViewModels.CreateBandArtistViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h2>BandArtist</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BandArtist.BandArtistID" />
            <div class="form-group">
                <label asp-for="BandArtist.JoinDate" class="control-label"></label>
                <input asp-for="BandArtist.JoinDate" type="date" class="form-control" />
                <span asp-validation-for="BandArtist.JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandArtist.LeaveDate" class="control-label"></label>
                <input asp-for="BandArtist.LeaveDate" type="date" class="form-control" />
                <span asp-validation-for="BandArtist.LeaveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandArtist.RoleID" class="control-label">Role</label>
                <select asp-for="BandArtist.RoleID" class="form-control" asp-items="Model.Roles"></select>
                <span asp-validation-for="BandArtist.RoleID" class="text-danger"></span>
            </div>
        <div class="form-group">
            <input type="submit" value="Save" asp-route-id="@Model.BandArtist.BandArtistID" asp-route-artistID="@Model.BandArtist.ArtistID" asp-route-bandID="@Model.BandArtist.BandID" class="btn btn-dark" />
            <a class="btn btn-dark" asp-action="Details" asp-controller="Band" asp-route-id="@Model.BandArtist.BandID">Back to Band</a>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
