@model WebApplicationProject.ViewModels.CreateReviewViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h2>Review</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.ReviewID" />
            <div class="form-group">
                <label asp-for="Review.Text" class="control-label">Review</label>
                <textarea rows="8" asp-for="Review.Text" class="form-control"></textarea>
                <span asp-validation-for="Review.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewRating" class="control-label">Rating</label>
                <input asp-for="Review.ReviewRating" class="form-control" min="0" max="10" />
                <span asp-validation-for="Review.ReviewRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" asp-route-albumID="@Model.Album.AlbumID" class="btn btn-dark" />
                <a class="btn btn-dark" asp-action="Details" asp-controller="Album" asp-route-id="@Model.Album.AlbumID">Back to Album</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
