@model WebApplicationProject.ViewModels.CreateBandViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Band</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Band.Name" class="control-label"></label>
                <input asp-for="Band.Name" class="form-control" />
                <span asp-validation-for="Band.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Band.Background" class="control-label"></label>
                <textarea asp-for="Band.Background" TextMode="Multiline" rows="8" class="form-control"></textarea>
                <span asp-validation-for="Band.Background" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="BandArtist.Artist.ArtistID" class="control-label">Artist</label>
                <select asp-for="BandArtist.Artist.ArtistID" class="form-control" asp-items="Model.Artists"></select>
                <span asp-validation-for="BandArtist.Artist.ArtistID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandArtist.RoleID" class="control-label">Role</label>
                <select asp-for="BandArtist.RoleID" class="form-control" asp-items="Model.Roles"></select>
                <span asp-validation-for="BandArtist.RoleID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
