@model WebApplicationProject.ViewModels.DetailBandViewModel

@{
    ViewData["Title"] = "Index";
    var itemCount = 0;
}


<div class="row">
    <div class="col-1"></div>
    <form asp-controller="Band" asp-action="Search" method="get">
        <h1>Bands</h1>
        <div class="form-actions no-color">
            <p>
                Zoek een band:
                <input asp-for="BandSearch" />
                <input type="submit" value="Zoeken" class="btn btn-default" />
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Create">Add Band | </a>
                }
                <a asp-controller="Band" asp-action="Index">Terug  naar volledige lijst</a>
            </p>
        </div>
    </form>
</div>

@foreach (var band in Model.Bands)
{
    var insertRow = itemCount % 3 == 0;

    if (insertRow)
    {
        @Html.Raw("<div class='row'>")
    }

    <div class="col-md-4 mb-5 mt-5">
        <a style="color: black" asp-action="Details" asp-route-id="@band.BandID"><h1 class="text-center">@Html.DisplayFor(modelItem => band.Name)</h1></a>
    </div>

    itemCount++;

    insertRow = itemCount % 3 == 0;

    if (insertRow)
    {
        @Html.Raw("</div>")
    }

}



